.prospatheia-tooltip {
  white-space: normal;
  width: 280px;
}

.prospatheia-tooltip .title {
  font-weight: bold;
  background-color: #eee;
}

.prospatheia-tooltip .summary {
  text-align: left;
}

a[ng-click]{
    cursor: pointer;
}

.table-striped > tbody > tr.unsaved {
  background-color: #fcf8e3;
}

table.table.table-striped tr > td:first-child {width:3em;}
td.remove > button.btn-link { color: black;}
