.prospatheia-tooltip {
  white-space: normal;
  width: 280px;
}

.prospatheia-tooltip .title {
  font-weight: bold;
  background-color: #eee;
}

.prospatheia-tooltip .summary {
  text-align: left;
}

a[ng-click]{
    cursor: pointer;
}

.table-striped > tbody > tr.unsaved {
  background-color: #fcf8e3;
}
