.prospatheia-tooltip {
  width: 200px;
}

.prospatheia-tooltip .title {
  font-weight: bold;
  background-color: #eee;
}

.prospatheia-tooltip .summary {
  white-space: normal;
  text-align: left;
}

