<!doctype html>
<html ng-app="reportcard">
  <head>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/pie-chart.min.js"></script>
    <script src="js/lib/d3.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
    <div ng-controller="ReportCardCtrl as reportCard">
      <div class="clickers">
        <div ng-repeat="effort in reportCard.effort">
          <span>{{effort.label}}</span>
          <a href="#" ng-click="reportCard.reduceEffort(effort)">-</a>
          <input ng-model="effort.value"></input>
          <a href="#" ng-click="reportCard.increaseEffort(effort)">+</a>
        </div>
        <span>Clickers</span>
      </div>
      <div class="piechart">
        <pie-chart data="reportCard.effort" options="reportCard.options"></pie-chart>
      </div>
    </div>
  </body>
</html>
